$white: #ecf0f1;
$teal:#1abc9c;
$black:#34495e;
$red:#e74c3c;
%center{
	display: flex;
	justify-content: center;
	align-items: center;
}
*{
	font-family: Lato;
}
#nav{
	position: absolute;
	width:100%;
	text-align: right;
	// display:flex;
	.iconify{
		font-size: 5rem;
	  color: $white;
	}
}
#hero{
	height:100vh;
	width:100vw;
	background: linear-gradient(rgba(13,13,13,0.1),rgba(13,13,13,0.1)) , url("../img/header.jpg") no-repeat center / cover;
	flex-direction: column;
	@extend %center;
	.title{
		font-size: 4rem;

	}
	.subtitle{
		width: 45%;
	}
	.title , .subtitle{
		color:$white;
		text-align: center;
	}
	hr{
		color:$white;
		height:5px;
		width: 30%;
	}

}

#sec article{
	@extend %center;
	flex-direction: column;
	height:100%;
}

#gallery{
	text-align: center;
}
.footer{
	@extend %center;
	flex-direction: column;
	// background-color: $black;
	color:$black;
	height:100%;
	.iconify{
		font-size: 3rem;
	}
}