// font
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

// media
@mixin mobile() {
    @media screen and (max-width: 550px) {
        @content;
    }
}

// variable
$white: #ecf0f1;
$teal:#1abc9c;
$black:#34495e;
$dark:#323030;
$red:#EB144C;
$blue:#0693E3;
$purple:#9900EF;
$yellow:#FCB900;
$green:#00D084;
$f2: Nothing You Could Do;

// pre
@font-face {
    font-family: Kano;
    src: url(../otf/Kano.otf);
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f2 {
    font-family: Nothing You Could Do;
}

* {
    font-family: Kano;

    .iconify {
        font-size: 3rem;
    }
}

.txt {
    color: $black;
}

.tit {
    font-size: 3rem;
    font-weight: lighter;
    color: $dark;
    letter-spacing: 2px;
    padding: 5%;
    text-transform: uppercase;
    text-align: center;

    @include mobile() {
        font-size: 1.7rem;
    }
}



// nav : 
#nav {
    position: absolute;
    width: 100%;
    // text-align: right;

    // display:flex;
    .iconify {
        font-size: 5rem;
        color: $white;

        &:hover {
            color: $teal;
        }
    }
}

// hero
#hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(13, 13, 13, 0.1), rgba(13, 13, 13, 0.1)), url("../img/header.jpg") no-repeat fixed center / cover;
    flex-direction: column;
    @extend %center;

    .title {
        font-size: 4rem;

        @include mobile() {
            font-size: 2rem;
        }
    }

    .subtitle {
        width: 45%;

        @include mobile() {
            width: 100%;
            font-size: 1.5rem;
        }
    }

    .title,
    .subtitle {
        color: $white;
        text-align: center;
    }

    hr {
        color: $white;
        height: 5px;
        width: 30%;
    }

    @include mobile() {
        height: 100vh;
    }
}

// sec
#sec {
    img {}

    @include mobile {
        display: none;
    }

    article {
        @extend %center;
        flex-direction: column;
        height: 100%;

        .iconify {
            font-size: 3rem;
        }
    }
}

// featuer
#feature {
    background: url('../img/ill/bg.svg') no-repeat fixed center / cover;

    .card {
        box-shadow: -1px 17px 20px -4px rgba(112, 109, 109, 0.75);
        -webkit-box-shadow: -1px 17px 20px -4px rgba(112, 109, 109, 0.75);
        -moz-box-shadow: -1px 17px 20px -4px rgba(112, 109, 109, 0.75);
    }

    .column {
        text-align: center;

        @include mobile() {
            margin-top: 2rem;
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content {
        color: $black;
        width: 90%;
        font-size: 1.2rem;

        @include mobile() {
            width: 100%;
            font-size: 1rem;

        }
    }
}

// gallery
// #gallery {
//     text-align: center;

//     .column {
//         @extend %center;

//         &:hover {
//             transition: .3s;

//             span {
//                 color: $black;
//                 font-weight: bolder;
//             }

//         }
//     }

//     span {
//         position: absolute;
//         color: transparent;
//         font-size: 2rem;
//     }

//     img {
//         position: relative;
//         transition: .3s;

//         &:hover {
//             transition: .3s;
//             // margin-bottom: 1rem;
//             box-shadow: 0px 7px 10px 2px rgba(33, 33, 33, 0.5);
//             opacity: .5;
//         }
//     }
// }

// Dashborad
/*

box-main
    box-con
        subtitle
        content
    box-foot
        button
*/
#dashborad {

    .tab-content {
        display: none;
        .box-main{
            display:flex;
            justify-content: space-between;
        }
        .box-foot{
            .button{
                 // background: rgb(7,245,198);
                // background: linear-gradient(90deg, rgba(7,245,198,0.9037814955083596) 40%, rgba(52,152,208,1) 100%); 
            }
            .iconify{
            }
        }
    }

    .tab-content.is-active {
        display: block;
    }

}


/* mail */
#mail {

    .input,
    .textarea {
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: white;
        letter-spacing: 2px;
        color: #323030ad;
        border-radius:5px;
    }
    .input:focus,
    .textarea:focus {
        background-color: #f5f5f1 ;
    }
    .label {
        color: grey;
    }
    input[type='submit'] {
        width: 50%;
        box-shadow: 0px 13px 18px -4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 13px 18px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 13px 18px -4px rgba(0, 0, 0, 0.75);
    }
}


// Footer

.footer {
    @extend %center;
    flex-direction: column;
    // color: $black;
    height: 100%;

    .iconify {
        padding: 2%;
        color: #fff;

        &:hover {
            color: $teal;
        }
    }
}

// animation